{% extends "base.html.j2" %}
{% set page_title = 'Error' %}

{% block body %}
    <p>Installation failed / canceled. Reason: <code>{{ error }}</code></p>
    <a class="btn btn-outline-primary" href="/">Restart</a>
{% endblock %}