{% extends "base.html.j2" %}
{% if isNewInstall %}
    {% set page_title = 'Install app (2/2)' %}
{% else %}
    {% set page_title = 'Add scopes (3/3)' %}
{% endif%}


{% block body %}
    {% if isNewInstall %}
        <p>This app has been successfully installed to your on workspace <strong>{{ team_name }}</strong></p>
    {% else %}
        <p>A token has been successfully generated for your on workspace <strong>{{ team_name }}</strong></p>
    {% endif%}
    
    <p>Your token is: <code>{{ token }}</code></p>
    <p>Your scopes are: <code>{{ scopes_str }}</code></p>
    <p>Remember that you can always access this app with the command <code>/mytoken</code> on Slack</p>
    <a class="btn btn-outline-secondary" href="{{ restart_url }}">Add more scopes</a>
{% endblock %}