{% extends "base.html.j2" %}

{% set page_title = 'Add scopes (3/3)' %}

{% block body %}
    
    <p>The selected scopes have been successfully added to your token for workspace <strong>{{ team_name }}</strong></p>
    
    <p>Your token is: <code>{{ token }}</code></p>
    <p>Your scopes are: <code>{{ scopes_str }}</code></p>
    <p>Remember that you can always access this app with the command <code>/mytoken</code> on Slack</p>
    <a class="btn btn-outline-secondary" href="{{ restart_url }}">Add more scopes</a>
{% endblock %}