{% extends "base.html.j2" %}
{% set page_title = 'Install app (1/2)' %}

{% block body %}
    <p>Click the button below to add <strong>My Token</strong> to your Slack workspace</p>
    <p>Note that you can add more scopes after the first installation is complete.</p>
    <a class="btn btn-outline-primary" href="{{ oauth_url }}">Add to Slack</a>
{% endblock %}