{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/multijs/multi.min.css') }}">
    <script src="{{ url_for('static', filename='vendor/multijs/multi.min.js') }}"></script> 
{% endblock %}       

{% block body %}
    <h2>Pre-selected scopes</h2>
    <ul>
        {% for scope in scopes_preselected %}
            <li>{{ scope }}</li>
        {% endfor %}
    </ul>

    <h2>Adding scopes</h2>
    <form action="process" method="post">
        <select id="scopes" name="scope" multiple="multiple">
            {% for scope in scopes_remain %}
                <option value="{{ scope }}">{{ scope }}</option>                    
            {% endfor %}                                           
        </select>                
        <button type="submit" class="btn btn-outline-primary">Submit</button>
    </form>

    <script>
        var select_element = document.getElementById("scopes");
        multi(select_element, {
            'non_selected_header': 'Available scopes',
            'selected_header': 'Selected scopes'
        });
    </script>

{% endblock %}