{% extends "slash_base.json.j2" %}

{% block blocks %}
[    
    {
        "type": "section",
        "text": {
            "type": "mrkdwn",
            {% if has_token %}
            "text": "Your token is:\n>`{{ token }}`\nwith these scopes:\n>`{{ scopes }}}`"
            {% else %}
            "text": "You do not have a token yet. Click below to create a token."
            {% endif %}
        }
    },
    {
        "type": "actions",
        "elements": [
            {
                "type": "button",
                "text": {
                    "type": "plain_text",
                    "text": "{{ create_token_text }}",
                    "emoji": true
                },
                "url": "{{ url }}",
                "action_id": "{{ button_new_action_id }}"
            }
            {% if has_token %}
            ,
            {
                "type": "button",
                "text": {
                    "type": "plain_text",
                    "text": "Remove Token",
                    "emoji": true
                },                
                "style": "danger",
                "action_id": "{{ button_remove_action_id }}"
            }
            {% endif %}                    
        ]
    }
]
{% endblock %}