{% extends "slash_base.json.j2" %}

{% block blocks %}
[
    {
        "type": "section",
        "text": {
            "type": "mrkdwn",
            "text": "An internal error occurred"
        }
    }
]
{% endblock %}